*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #102526FF;
}
.header{
    width: 100%;
    height: 60px;
    background: #261826FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 70%;
    height: 100%;
    background: #261826FF;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.inputBox{
    height: 80%;
    width: 42%;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    background: #A5B3CCFF;
    display: flex;
    align-items: center;
}
.inputBox input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 25px;
    padding: 0 10px;
    font-weight: bold;
}
.button{
    width: 12%;
    height: 80%;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    background: #38275CFF;
}
.button button{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: white;
}
.fetures{
    width: 18%;
    height: 540px;
    background: white;
    border: 1px solid black;
    overflow-y: scroll;
}
.fetureList{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30px;
}
.fetureList li {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    padding: 0 10px;
}
.fetureList #checked,#delete{
    position: absolute;
    width: 25px;
    height: 80%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
}
.fetureList #checked{
    right: 45px;
}
.fetures::-webkit-scrollbar{
    width: 5px;
}
.list{
    display: flex;
    align-items: center;
    background: skyblue;
    margin: 3px 0;
    border: 1px solid black;
    border-left: none;
}